<html>
  <head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <script type="text/javascript" src="index.js"></script>
    <a href="/">home</a>
    <a href="/login">login</a>
    <a href="/login" onclick="logout(event)">logout</a>
    {{{body}}}

  </body>
</html>