<label>user name:</label>
<input name="userName" value="Tim" id="userName" placeholder="USER_NAME" />

<label>pass word:</label>
<input name="passWord" value="abc" id="passWord" placeholder="PASS_WORD" />

<input onclick="handleSubmit(event)" type="submit" value="Submit" />

<p id="err" class="warn"></p>